.demo-container
  display flex
  flex-wrap wrap
  padding 8px

.demo-signal
  min-width 300px
  text-align center

.demo-signal-label
  font-size 16px
  font-weight bold

.demo-control-label
  padding-right 8px
  font-size 16px
  font-weight bold

.demo-control-aspect,
.demo-control-speed,
.demo-control-features
  text-align left
  margin 8px 0
